// General styles

body{
  background: $primary-col;
  color: $text-prim-col;
  font-family: $primary-font-family;
}
a{
  cursor: pointer;
}
.container-painter{
  width: 1140px;
  margin: 0 auto;
}
.btn-blue{
  background: $blue-light;
  border: 1px solid $blue-light;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px 7px;
  display: block;
  margin: 20px 0;
  cursor: pointer;
    &:hover{
      background-color: rgba($blue-light, 0.8);
      outline: none;
    }
}