// Header

nav{
    padding: 10px;
  li{
    list-style: none;
    padding: 0 16px;
    img{
      margin-right: 10px;
    }
  }
  a{
    text-decoration: none;
    color: $text-prim-col;
  }
  i{
    font-size: $fontsize-chevron;
    padding-left: 6px;
  }
}


// Header-top
.header-top{
  width: 100%;
  background-image: url("../../images/hero.jpg");
  background-position: top center;
    h1{
      margin-left: 40px;
    }
    h2{
      margin-left: 40px;
    }
    li{
      list-style: none;
      padding: 10px 0;
    }
    a{
      text-decoration: none;
      color: $text-prim-col;
    }
    .header-top-left{
      margin-left: 348px;
      width: 52%;
          i{
            font-size: $fontsize-chevron;
            padding-right: 6px;
          }
    }
    .header-top-right{
      background: rgba($primary-col, 0.8);
      width: 30%;
      padding: 20px;
      margin-right: 60px;
      h3{
        font-size: 26px;
      }
      h4{
        font-size: 20px;
        margin: 0;
      }
      span{
        color: $col-gray;
      }
      .btn-blue{
        margin-bottom: 30px;
      }
      .white-box{
        width: 97%;
        height: 135px;
        padding: 5px 5px 5px 5px;
        background: $text-prim-col;
        color: $primary-col;
          a{
            color: $blue-light;
          }
      }
    }
    .btn-gray {
        background: $col-gray;
        color: $text-prim-col;
        border: none;
        outline: none;
        padding: 15px 45px 15px 15px;
        position: relative;
        text-align: center;
        cursor: pointer;
        margin: 0 40px 50px;
          &:hover{
            background-color: rgba($col-gray, 0.7);
            outline: none;
          }
         small {
           text-transform: capitalize;
           font-size: 12px;
           display: block;
         }
         i {
            font-size: 22px;
            position: absolute;
            right: 6px;
            top: 50%;
            transform: translateY(-50%);
            &:after {
                content: '';
                display: table;
                position: absolute;
                width: 1px;
                height: 35px;
                top: -5px;
                left: -5px;
                background: $text-prim-col;
            }
        }
    }
}


// Header-bottom

.header-bottom{
  background: $back-header;
  padding: 20px;
    .list-bottom {
      list-style: none;
      padding: 0 20px;
    }
    a{
       text-decoration: none;
       color: $col-header-bottom;
       text-transform: uppercase;
       font-size: $font-header-bottom;
    }
    
}
    


