.display-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-flex-center{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.display-flex-start{
  display: flex;
  justify-content: flex-start;
}
.text-center{
  text-align: center;
}
