// Utilities 

.display-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-flex-center{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.display-flex-start{
  display: flex;
  justify-content: flex-start;
}
.display-flex-end{
  display: flex;
  justify-content: flex-end;
}
.display-flex-between{
  display: flex;
  justify-content: space-between;
}
.text-center{
  text-align: center;
}
.uppercase{
  text-transform: uppercase;
}
.padding-section{
  padding: 80px 0 60px;
}
