$primary-col: #101010;
$text-prim-col: #fff;
$primary-font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
$back-header: #e6e6e6;
$col-header-bottom: #555555;
$font-header-bottom: 16px;
$font-h2: 30px;
$fontsize-chevron: 12px;
$col-slider-i: #e74500;
$back-lightblack: #222222;
$col-gray: #666666;
