// Var 

// Colors

$primary-col: #101010;
$text-prim-col: #fff;
$back-header: #e6e6e6;
$col-header-bottom: #555555;
$col-slider-i: #e74500;
$back-lightblack: #222222;
$col-gray: #666666;
$blue-light: #28acff; 
$blue-dark: #3b5998;
$orange: #ff8d00;

// Typography 

$primary-font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
$font-header-bottom: 16px;
$font-h2: 30px;
$fontsize-chevron: 12px;

// Mixin

@mixin text-center($type: 'center') {
        text-align: center;
    }